@charset "utf-8";
/*/////////////////////////////////////////////////////////////////////////////////
/*[2014/2/13]
 *custominput.css
 * 
 * 
 * 
///////////////////////////////////////////////////////////////////////////////*/

/*
 * custominput_table
 * 
 --------------------------*/
.custominput_table{
	width: auto;
}
.custominput_table th{
	background: #dfdfdf;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}
.custominput_table td{
	padding: 8px;
	border-bottom: 1px dotted #ddd;
	vertical-align: top;
}
